:root {
  --primary: #04454d;
  --white: #ffffff;
  --green: #08cf65;
  --grey: #eeeeee;
  --blue: #00e3ff;
  --darkgrey: #707070;
}
.white-color {
  color: var(--white);
}
.white-bg {
  background-color: var(--white);
}
.primary-color {
  color: var(--primary);
}
.primary-bg {
  background-color: var(--primary);
}
.green-color {
  color: var(--green);
}
.green-bg {
  background-color: var(--green);
}
.font-bold {
  font-weight: bold;
}

.search-menu-search-btn {
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 10px;
  padding: 0px 25px;
}

.search-menu-rent-house-btn {
  background-color: var(--green);
  border: none;
  border-radius: 10px;
  padding: 0px 28px;
  font-weight: bold;
}

.home-section-main-background-img {
  height: 50%;
  background-size: cover;
  background-position: center;
}

.filter-section-container {
  position: absolute;
  top: -165px;
  background-color: transparent;
}

.filter-section-heading {
  color: var(--white);
  font-weight: bold;
  font-size: 50px;
}

.filter-section-options-li {
  color: var(--primary);
  font-size: 20px;
  font-weight: 600;
}

.filter-section-input-fields {
  border-radius: 10px;
  padding: 10px 25px;
  background-color: var(--grey);
  border: none;
  width: 100%;
}

.filter-section-search-btn {
  background-color: var(--blue);
  border: none;
  border-radius: 10px;
  padding: 10px 50px;
}

.cities-section-img {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 200px;
}

.steps-section-second-wrapper h1 {
  color: var(--green);
  font-weight: bold;
  font-style: italic;
  font-size: 60px;
}

.steps-section-second-wrapper p {
  color: var(--primary);
}

.search-btn-wrappers {
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 992px) {
  .filter-section-container {
    top: -220px;
  }
}

@media screen and (max-width: 768px) {
  .search-menu-search-btn,
  .search-menu-rent-house-btn {
    padding: 15px 25px;
  }
  .search-btn-wrappers {
    padding-top: 12px;
    justify-content: center !important;
  }
  .title-wrapper {
    text-align: center;
  }
  .nav-ul {
    justify-content: center !important;
  }
  .filter-section-container {
    top: -370px;
  }
  .filter-section-container span {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .nav-ul {
    flex-direction: column !important;
    align-items: flex-end !important;
  }
  .search-btn-wrappers {
    flex-direction: column;
  }
  .search-menu-search-btn {
    padding: 10px 25px;
  }
  .search-menu-rent-house-btn {
    margin-top: 12px;
    margin-left: 0px !important;
    padding: 10px 25px;
  }
  .filter-section-container {
    display: none;
  }
}
